In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
from zipfile import ZipFile
import seaborn as sns

In [2]:
df20 = pd.read_parquet('opafy20nid.parq')

df20 = df20[['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6']]

df20.to_csv('df20.csv')

In [3]:
zip_21 = 'opafy21nid.csv.zip'
with ZipFile(zip_21,'r') as zip21:
    zip_21_ext = zip21.extractall()

df21 = pd.read_csv('opafy21nid.csv', usecols=['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6'])

df21 = df21[['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6']]

df21.to_csv('df21.csv')

In [4]:
zip_19 = 'opafy19nid.csv.zip'
with ZipFile(zip_19,'r') as zip19:
    zip_19_ext = zip19.extractall()
    
df19 = pd.read_csv('opafy19nid.csv', usecols=['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6'])

df19 = df19[['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6']]

df19.to_csv('df19.csv')

In [5]:
zip_18 = 'opafy18nid.csv.zip'
with ZipFile(zip_18,'r') as zip18:
    zip_18_ext = zip18.extractall()
    
df18 = pd.read_csv('opafy18nid.csv', usecols=['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6'])

df18 = df18[['TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',\
                                              'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE',\
                                              'NEWEDUC', 'DISPOSIT', 'CITIZEN','INOUT', 'DISTRICT',\
                                              'SENTRNGE','CRIMHIST','COMBDRG2',\
                                             'CASETYPE','AGE','ACCAP','WEAPON','STATMAX',\
                                             'STATMIN','PRESENT','MONSEX',\
                                             'OFFGUIDE','CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3', 'CHP3CHG4',\
                                              'CHP3CHG5', 'CHP3CHG6']]

df18.to_csv('df18.csv')

In [6]:
dataframes = [df18,df19,df20,df21]
df18to21 = pd.concat([df18,df19,df20,df21],ignore_index=True)

df18to21.to_csv('df18to21.csv')

In [7]:
df18to21.describe()

,TOTPRISN,SENTYR,SENTIMP,RANGEPT,PRISDUM,PCNTDEPT,MNTHDEPT,NUMDEPEN,NOCOUNTS,MONRACE,...,STATMIN,PRESENT,MONSEX,OFFGUIDE,CHP3CHG1,CHP3CHG2,CHP3CHG3,CHP3CHG4,CHP3CHG5,CHP3CHG6
count,267815.000000,267815.000000,267815.000000,124419.000000,267815.000000,132832.000000,132832.000000,238961.000000,267815.000000,267815.000000,...,259481.000000,253423.000000,267403.000000,267815.000000,15977.000000,1321.000000,42.000000,1.0,0.0,0.0
mean,58.756007,2019.159315,1.241876,2.431767,0.914430,47.707058,28.384509,1.617963,1.362254,1.439102,...,36.994412,1.261440,0.126726,14.754103,20.942855,33.156699,118.595238,10.0,NaN,NaN
std,414.130939,1.167302,0.773997,1.523961,0.279729,35.853391,35.963225,1.778175,2.986790,1.063581,...,335.605519,0.551602,0.332667,5.129117,102.282502,134.887980,272.052188,NaN,NaN,NaN
min,0.000000,2017.000000,0.000000,1.000000,0.000000,0.250000,0.030000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,2.000000,7.000000,10.0,NaN,NaN
25%,0.000000,2018.000000,1.000000,1.000000,1.000000,23.080000,6.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,10.000000,5.000000,9.000000,9.000000,10.0,NaN,NaN
50%,18.000000,2019.000000,1.000000,2.000000,1.000000,40.000000,15.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,16.000000,8.000000,9.000000,9.000000,10.0,NaN,NaN
75%,60.000000,2020.000000,1.000000,4.000000,1.000000,64.706912,36.000000,3.000000,1.000000,2.000000,...,24.000000,1.000000,0.000000,17.000000,9.000000,9.000000,10.000000,10.0,NaN,NaN
max,9997.000000,2021.000000,4.000000,6.000000,1.000000,2500.000000,382.000000,57.000000,884.000000,10.000000,...,9996.000000,4.000000,1.000000,30.000000,778.000000,778.000000,777.000000,10.0,NaN,NaN

In [2]:
df18to21 = pd.read_csv('df18to21.csv')

In [9]:
state_dict = {0:'Maine',1:'Massachusetts',2:'New Hampshire',3:'Rhode Island',4:'Puerto Rico',5:'Connecticut',\
6:'New York',7:'New York',8:'New York',9:'New York',10:'Vermont',11:'Delaware',12:'New Jersey',\
13:'Pennsylvania',14:'Pennsylvania',15:'Pennsylvania',16:'Maryland',17:'North Carolina',18:'North Carolina',\
19:'North Carolina',20:'South Carolina',22:'Virginia',23:'Virginia',24:'West Virginia',25:'West Virginia',\
26:'Alabama',27:'Alabama',28:'Alabama',29:'Florida',30:'Florida',31:'Florida',32:'Georgia',33:'Georgia',\
34:'Georgia',35:'Louisiana',36:'Louisiana',37:'Mississippi',38:'Mississippi',39:'Texas',40:'Texas',41:'Texas',\
42:'Texas',43:'Kentucky',44:'Kentucky',45:'Michigan',46:'Michigan',47:'Ohio',48:'Ohio',49:'Tennessee',50:'Tennessee',\
51:'Tennessee',52:'Illinois',53:'Illinois',54:'Illinois',55:'Indiana',56:'Indiana',57:'Wisconsin',58:'Wisconsin',\
60:'Arkansas',61:'Arkansas',62:'Iowa',63:'Iowa',64:'Minnesota',65:'Missouri',66:'Missouri',67:'Nebraska',\
68:'North Dakota',69:'South Dakota',70:'Arizona',71:'California',72:'California',73:'California',74:'California',\
75:'Hawaii',76:'Idaho',77:'Montana',78:'Nevada',79:'Oregon',80:'Washington',81:'Washington',82:'Colorado',83:'Kansas',\
84:'New Mexico',85:'Oklahoma',86:'Oklahoma',87:'Oklahoma',88:'Utah',89:'Wyoming',90:'District of Columbia',91:'Virgin Islands',\
93:'Guam',94:'North Mariana Islands',95:'Alaska',96:'Louisiana'}

In [15]:
for i in df18to21['DISTRICT']:
    i = state_dict.get(i)

In [17]:
df18to21['DISTRICT'] = [state_dict.get(i) for i in df18to21['DISTRICT']]

In [18]:
df18to21['DISTRICT']

0           Tennessee
1          New Mexico
2          New Mexico
3          New Mexico
4          New Mexico
             ...
267810       New York
267811    Puerto Rico
267812       New York
267813        Montana
267814       New York
Name: DISTRICT, Length: 267815, dtype: object

In [24]:
region_dict = {'Connecticut':'New England', 'Maine':'New England', 'Massachusetts':'New England',\
'New Hampshire':'New England', 'Rhode Island':'New England', 'Vermont':'New England',\
'Delaware':'Mid-Atlantic', 'Maryland':'Mid-Atlantic', 'New Jersey':'Mid-Atlantic',\
'New York':'Mid-Atlantic', 'Pennsylvania':'Mid-Atlantic','District of Columbia':'Mid-Atlantic',\
'Alabama':'South', 'Arkansas':'South', 'Florida':'South', 'Georgia':'South', 'Kentucky':'South',\
'Louisiana':'South', 'Mississippi':'South', 'Missouri':'South',\
'North Carolina':'South', 'South Carolina':'South', 'Tennessee':'South',\
'Virginia':'South', 'West Virginia':'South',\
'Illinois':'Mid-West', 'Indiana':'Mid-West', 'Iowa':'Mid-West', 'Kansas':'Mid-West',\
'Michigan':'Mid-West', 'Minnesota':'Mid-West', 'Nebraska':'Mid-West',\
'North Dakota':'Mid-West', 'Ohio':'Mid-West', 'South Dakota':'Mid-West', 'Wisconsin':'Mid-West',\
'Arizona':'South-West', 'New Mexico':'South-West', 'Oklahoma':'South-West', 'Texas':'South-West',\
'Alaska':'West', 'California':'West', 'Colorado':'West', 'Hawaii':'West',\
'Idaho':'West', 'Montana':'West', 'Nevada':'West', 'Oregon':'West', 'Utah':'West',\
'Washington':'West', 'Wyoming':'West','Puerto Rico':'Territories',\
'Virgin Islands':'Territories','Guam':'Territories','North Mariana Islands':'Territories'}

In [25]:
df18to21['REGION'] = [region_dict.get(i) for i in df18to21['DISTRICT']]

In [26]:
df18to21['REGION']

0                South
1           South-West
2           South-West
3           South-West
4           South-West
              ...
267810    Mid-Atlantic
267811     Territories
267812    Mid-Atlantic
267813            West
267814    Mid-Atlantic
Name: REGION, Length: 267815, dtype: object

In [28]:
df18to21.columns

Index(['Unnamed: 0', 'TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',
       'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE', 'NEWEDUC',
       'DISPOSIT', 'CITIZEN', 'INOUT', 'DISTRICT', 'SENTRNGE', 'CRIMHIST',
       'COMBDRG2', 'CASETYPE', 'AGE', 'ACCAP', 'WEAPON', 'STATMAX', 'STATMIN',
       'PRESENT', 'MONSEX', 'OFFGUIDE', 'CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3',
       'CHP3CHG4', 'CHP3CHG5', 'CHP3CHG6', 'REGION'],
      dtype='object')

In [44]:
#ger ride of the ~30 items for which individual was sentenced to prison, but we do not know their sentence
df18to21 = df18to21.drop(df18to21[df18to21['TOTPRISN'] == 9997].index)

In [47]:
df18to21[df18to21['TOTPRISN'] > 300]

,Unnamed: 0,TOTPRISN,SENTYR,SENTIMP,RANGEPT,PRISDUM,PCNTDEPT,MNTHDEPT,NUMDEPEN,NOCOUNTS,...,PRESENT,MONSEX,OFFGUIDE,CHP3CHG1,CHP3CHG2,CHP3CHG3,CHP3CHG4,CHP3CHG5,CHP3CHG6,REGION
74,74,360,2017,1,5.0,1,NaN,NaN,3.0,1,...,1.0,0.0,27,NaN,NaN,NaN,NaN,NaN,NaN,South
184,184,384,2017,1,2.0,1,NaN,NaN,5.0,2,...,1.0,0.0,10,NaN,NaN,NaN,NaN,NaN,NaN,South
263,263,322,2017,1,4.0,1,NaN,NaN,4.0,2,...,1.0,0.0,10,NaN,NaN,NaN,NaN,NaN,NaN,Mid-West
362,362,9996,2017,1,6.0,1,NaN,NaN,2.0,5,...,1.0,0.0,10,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic
379,379,9996,2017,1,NaN,1,NaN,NaN,5.0,2,...,1.0,0.0,22,6.0,NaN,NaN,NaN,NaN,NaN,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267308,267308,360,2021,1,NaN,1,71.43,150.0,1.0,1,...,1.0,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,West
267550,267550,405,2021,2,NaN,1,54.58,143.0,0.0,1,...,1.0,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,South-West
267781,267781,324,2021,1,1.0,1,NaN,NaN,0.0,3,...,1.0,0.0,7,NaN,NaN,NaN,NaN,NaN,NaN,Mid-West
267801,267801,480,2021,1,NaN,1,NaN,NaN,0.0,1,...,1.0,0.0,10,9.0,NaN,NaN,NaN,NaN,NaN,South-West
267812,267812,372,2021,1,NaN,1,NaN,NaN,0.0,2,...,1.0,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic

In [46]:
df18to21['SENTYR'].value_counts()

2019    78749
2018    71211
2020    56953
2021    44670
2017    16209
Name: SENTYR, dtype: int64

In [50]:
df18to21.shape

(267792, 36)

In [62]:
df18to21[(df18to21['TOTPRISN'] < 9990) & (df18to21['TOTPRISN'] > 4320)]

,Unnamed: 0,TOTPRISN,SENTYR,SENTIMP,RANGEPT,PRISDUM,PCNTDEPT,MNTHDEPT,NUMDEPEN,NOCOUNTS,...,MONSEX,OFFGUIDE,CHP3CHG1,CHP3CHG2,CHP3CHG3,CHP3CHG4,CHP3CHG5,CHP3CHG6,REGION,DEATH_PENALTY
96709,96709,5040,2019,1,NaN,1,NaN,NaN,0.0,18,...,0.0,27,11.0,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0
210544,210544,7200,2020,1,6.0,1,NaN,NaN,2.0,20,...,0.0,27,NaN,NaN,NaN,NaN,NaN,NaN,South,0

In [67]:
df18to21['PCNTDEPT'].value_counts()

100.000000    9204
50.000000     3676
20.000000     3310
40.000000     3140
25.000000     2643
              ...
23.963134        1
4.985337         1
11.965812        1
64.130000        1
67.550000        1
Name: PCNTDEPT, Length: 9474, dtype: int64

In [69]:
df18to21.shape

(267792, 36)

In [70]:
df18to21['PCNTDEPT'].count()

132819

In [71]:
df18to21[df18to21['PCNTDEPT'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, TOTPRISN, SENTYR, SENTIMP, RANGEPT, PRISDUM, PCNTDEPT, MNTHDEPT, NUMDEPEN, NOCOUNTS, MONRACE, NEWEDUC, DISPOSIT, CITIZEN, INOUT, DISTRICT, SENTRNGE, CRIMHIST, COMBDRG2, CASETYPE, AGE, ACCAP, WEAPON, STATMAX, STATMIN, PRESENT, MONSEX, OFFGUIDE, CHP3CHG1, CHP3CHG2, CHP3CHG3, CHP3CHG4, CHP3CHG5, CHP3CHG6, REGION, DEATH_PENALTY]
Index: []

[0 rows x 36 columns]

In [73]:
df18to21[df18to21['NUMDEPEN'] == 97]

Empty DataFrame
Columns: [Unnamed: 0, TOTPRISN, SENTYR, SENTIMP, RANGEPT, PRISDUM, PCNTDEPT, MNTHDEPT, NUMDEPEN, NOCOUNTS, MONRACE, NEWEDUC, DISPOSIT, CITIZEN, INOUT, DISTRICT, SENTRNGE, CRIMHIST, COMBDRG2, CASETYPE, AGE, ACCAP, WEAPON, STATMAX, STATMIN, PRESENT, MONSEX, OFFGUIDE, CHP3CHG1, CHP3CHG2, CHP3CHG3, CHP3CHG4, CHP3CHG5, CHP3CHG6, REGION, DEATH_PENALTY]
Index: []

[0 rows x 36 columns]

In [80]:
df18to21['MONRACE'] = df18to21['MONRACE'].replace(10,3)

In [81]:
df18to21['MONRACE'].value_counts()

1    193732
2     59144
3      5651
4      4044
8      3784
7      1302
5       116
9        19
Name: MONRACE, dtype: int64

In [97]:
df18to21[df18to21['STATMIN']==9996]

,Unnamed: 0,TOTPRISN,SENTYR,SENTIMP,RANGEPT,PRISDUM,PCNTDEPT,MNTHDEPT,NUMDEPEN,NOCOUNTS,...,MONSEX,OFFGUIDE,CHP3CHG1,CHP3CHG2,CHP3CHG3,CHP3CHG4,CHP3CHG5,CHP3CHG6,REGION,DEATH_PENALTY
523,523,192,2017,1,NaN,1,NaN,NaN,0.0,1,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-West,0
1130,1130,480,2017,1,NaN,1,NaN,NaN,4.0,5,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,South,0
1952,1952,9996,2017,1,6.0,1,NaN,NaN,2.0,3,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0
3084,3084,9996,2017,1,6.0,1,NaN,NaN,0.0,6,...,0.0,27,NaN,NaN,NaN,NaN,NaN,NaN,South-West,0
4732,4732,9996,2017,1,6.0,1,NaN,NaN,1.0,8,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258536,258536,180,2021,1,NaN,1,NaN,NaN,2.0,1,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,West,0
263792,263792,9996,2021,1,6.0,1,NaN,NaN,1.0,2,...,0.0,10,NaN,NaN,NaN,NaN,NaN,NaN,South,0
264706,264706,9996,2021,1,6.0,1,NaN,NaN,1.0,5,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0
266987,266987,84,2021,1,NaN,1,NaN,NaN,4.0,5,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0
266989,266989,9996,2021,1,6.0,1,NaN,NaN,0.0,5,...,0.0,22,NaN,NaN,NaN,NaN,NaN,NaN,Mid-Atlantic,0

In [100]:
df18to21['MONSEX'].value_counts()

0.0    233498
1.0     33882
Name: MONSEX, dtype: int64

In [99]:
#replacing 'other' pre-sentence status to 'in-custody', which is the overwhelming majority
#only affects ~1100 rows
df18to21['PRESENT'] = df18to21['PRESENT'].replace(4,1)

In [101]:
df18to21['OFFGUIDE'].value_counts()

17    96730
10    72570
13    31679
16    22401
26     6161
7      5022
21     4382
27     4175
30     3511
4      2764
1      2482
25     2183
9      2087
29     1911
24     1393
22     1242
5      1145
15      909
28      878
23      781
12      709
11      692
8       403
19      360
18      274
3       250
20      229
6       208
14      171
2        90
Name: OFFGUIDE, dtype: int64

In [3]:
df18to21.columns

Index(['Unnamed: 0', 'TOTPRISN', 'SENTYR', 'SENTIMP', 'RANGEPT', 'PRISDUM',
       'PCNTDEPT', 'MNTHDEPT', 'NUMDEPEN', 'NOCOUNTS', 'MONRACE', 'NEWEDUC',
       'DISPOSIT', 'CITIZEN', 'INOUT', 'DISTRICT', 'SENTRNGE', 'CRIMHIST',
       'COMBDRG2', 'CASETYPE', 'AGE', 'ACCAP', 'WEAPON', 'STATMAX', 'STATMIN',
       'PRESENT', 'MONSEX', 'OFFGUIDE', 'CHP3CHG1', 'CHP3CHG2', 'CHP3CHG3',
       'CHP3CHG4', 'CHP3CHG5', 'CHP3CHG6'],
      dtype='object')

In [5]:
df18to21['MONRACE'].value_counts()

1     193750
2      59148
3       5638
4       4044
8       3784
7       1302
5        116
9         19
10        14
Name: MONRACE, dtype: int64

In [7]:
df18to21.shape

(267815, 34)

In [9]:
df18to21['guideline_range']

KeyError: 'guideline_range'