In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns

In [2]:
census20 = pd.read_csv('census_20.csv')

In [3]:
census20.head()

        state  total_pop  white_pop  white_perc
0     Alabama    3917166    2595046    0.662480
1      Alaska     554003     349626    0.631090
2     Arizona    5541976    3549308    0.640441
3    Arkansas    2312273    1683440    0.728046
4  California   30827105   13443813    0.436104

In [4]:
census20 = census20.rename(columns={'total_pop':'2020_pop','white_pop':'2020_whitepop','white_perc':'2020_white_per'})

In [5]:
census20['2020_minority_per'] = [1 - i for i in census20['2020_white_per']]

In [6]:
data = pd.read_csv('df18to21_cleanedH.csv')

In [7]:
data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,sentence_length,year_sentenced,sentence_type,guideline_range,imprisoned,guideline_var_pct,dependents,...,case_type,age,weapon,presentence_stat,gender,crime_type,region,college,white,perc_charged
0,0,0,12990,188,2018,1,1.0,1,0.0,1,...,1.0,24.0,0,1.0,0.0,10,West,0,0,0.079034
1,1,1,14616,0,2018,1,0.0,1,0.0,1,...,1.0,28.0,0,1.0,0.0,17,South,0,0,0.057644
2,2,2,14617,300,2018,1,6.0,1,0.0,1,...,1.0,41.0,1,1.0,0.0,10,Midwest,0,0,0.148692
3,3,3,14619,63,2018,1,1.0,1,0.0,0,...,1.0,25.0,1,1.0,0.0,26,South,0,0,0.074698
4,4,4,14620,0,2018,1,2.0,1,0.0,1,...,1.0,27.0,0,1.0,0.0,17,West,0,0,0.029711

In [8]:
data.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'sentence_length',
       'year_sentenced', 'sentence_type', 'guideline_range', 'imprisoned',
       'guideline_var_pct', 'dependents', 'count_convictons', 'race',
       'disposition', 'citizen', 'state', 'criminal_hist', 'drug_type',
       'case_type', 'age', 'weapon', 'presentence_stat', 'gender',
       'crime_type', 'region', 'college', 'white', 'perc_charged'],
      dtype='object')

In [9]:
conv_count = pd.DataFrame(data.groupby('state')['age'].count())

In [10]:
conv_count = conv_count.rename(columns={'age':'conv_18to21'})

In [11]:
census20 = pd.merge(census20,conv_count,how='inner',on='state')

In [12]:
census20['conv_per100K'] = round(census20['conv_18to21'] / (census20['2020_pop']/100000),0)

In [13]:
census20.head()

,state,2020_pop,2020_whitepop,2020_white_per,2020_minority_per,conv_18to21,conv_per100K
0,Alabama,3917166,2595046,0.662480,0.337520,3667,94.0
1,Alaska,554003,349626,0.631090,0.368910,612,110.0
2,Arizona,5541976,3549308,0.640441,0.359559,18052,326.0
3,Arkansas,2312273,1683440,0.728046,0.271954,2830,122.0
4,California,30827105,13443813,0.436104,0.563896,20655,67.0

In [15]:
data.groupby('state')['white'].mean()

state
Alabama                 0.341969
Alaska                  0.459150
Arizona                 0.052903
Arkansas                0.362898
California              0.136674
Colorado                0.252625
Connecticut             0.254486
Delaware                0.223602
District of Columbia    0.169591
Florida                 0.185615
Georgia                 0.229638
Hawaii                  0.183784
Idaho                   0.518308
Illinois                0.305336
Indiana                 0.346557
Iowa                    0.481481
Kansas                  0.419793
Kentucky                0.486125
Louisiana               0.256277
Maine                   0.623586
Maryland                0.157350
Massachusetts           0.288824
Michigan                0.252099
Minnesota               0.360902
Mississippi             0.221933
Missouri                0.236826
Montana                 0.532110
Nebraska                0.332027
Nevada                  0.286219
New Hampshire           0.556011
New Jersey              0.200271
New Mexico              0.041598
New York                0.254324
North Carolina          0.239866
North Dakota            0.316945
Ohio                    0.282187
Oklahoma                0.332875
Oregon                  0.419417
Pennsylvania            0.296495
Rhode Island            0.304688
South Carolina          0.271233
South Dakota            0.288126
Tennessee               0.438791
Texas                   0.067715
Utah                    0.353401
Vermont                 0.510417
Virginia                0.286263
Washington              0.350996
West Virginia           0.519980
Wisconsin               0.312061
Wyoming                 0.453704
Name: white, dtype: float64

In [16]:
conv_perc = pd.DataFrame(data.groupby('state')['white'].mean())

In [18]:
conv_perc['minority'] = 1 - conv_perc['white']

In [19]:
census20 = pd.merge(census20,conv_perc,how='inner',on='state')

In [21]:
census20 = census20.rename(columns={'white':'conv_white_per','minority':'conv_minority_per'},)

In [22]:
census20.head()

,state,2020_pop,2020_whitepop,2020_white_per,2020_minority_per,conv_18to21,conv_per100K,conv_white_per,conv_minority_per
0,Alabama,3917166,2595046,0.662480,0.337520,3667,94.0,0.341969,0.658031
1,Alaska,554003,349626,0.631090,0.368910,612,110.0,0.459150,0.540850
2,Arizona,5541976,3549308,0.640441,0.359559,18052,326.0,0.052903,0.947097
3,Arkansas,2312273,1683440,0.728046,0.271954,2830,122.0,0.362898,0.637102
4,California,30827105,13443813,0.436104,0.563896,20655,67.0,0.136674,0.863326

In [23]:
census20.to_csv('pop_breakdowns.csv')